attrs==21.4.0
Brotli==1.0.9
CensusData==1.15
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Fiona==1.8.21
Flask==2.0.3
Flask-Compress==1.11
geopandas==0.10.2
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
munch==2.5.0
numpy==1.22.3
pandas==1.4.1
patsy==0.5.2
plotly==5.6.0
pyproj==3.3.0
python-dateutil==2.8.2
pytz==2021.3
regex==2022.3.2
requests==2.27.1
scipy==1.8.0
Shapely==1.8.1.post1
six==1.16.0
sodapy==2.1.0
statsmodels==0.13.2
tenacity==8.0.1
urllib3==1.26.8
Werkzeug==2.0.3
